*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.mobile-view,
#mobile-view-right-side{
    display: none;
}

img.mobile-logo{
    margin-right: 175px;
}

.menu-icon{
    font-size: 1.5rem;
    cursor: pointer;
}

.mobile-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    width: 100%;
    max-width: 200px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

header.hero{
    background-color: hsla(210, 31%, 97%, 1);
}

li{
    list-style-type: none;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.3rem;
}

nav ul{
    display: flex;
    gap: 1.3rem;
    width: 36.8rem;
}

nav ul a{
    text-decoration: none;
    color: hsla(231, 13%, 11%, 1);
}

.sign-up{
    background-color: hsla(122, 39%, 49%, 1);
    padding: 0.6rem 1.3rem;
    border-radius: 0.4rem;
    border: none;
    color: hsla(0, 0%, 100%, 1);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.login{
    background-color: hsla(210, 31%, 97%, 1);
    padding: 0.6rem 1.3rem;
    border: none;
    color:  hsla(122, 39%, 49%, 1);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

h1 span{
    color: hsla(122, 39%, 49%, 1);
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.75rem;
}

h1{
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.75rem;
}

.hero-text p{
    margin-bottom: 1.6rem;
    color: hsla(0, 0%, 44%, 1);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.register{
    background-color: hsla(122, 39%, 49%, 1);
    padding: 0.6rem 1.3rem;
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: background-color 0.3s ease;
}

.hero-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6rem 0;
}

section.community{
    padding-bottom: 11rem;
}

.community-text{
    text-align: center;
    margin-top: 2rem;
}

.community-text h2{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.8rem;
    color: hsla(0, 0%, 30%, 1);
}

.community-text p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: hsla(0, 0%, 44%, 1);
    margin-bottom: 1.6rem;
}

.icons,
.icons-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.membership,
.nationals,
.clubs{
    border: 1px solid hsla(210, 29%, 75%, 0.2);
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.membership h2,
.nationals h2,
.clubs h2{
    color: hsla(0, 0%, 30%, 1);
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
}

section.unlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9rem;
}

.unlock-text h2{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.8rem;
    color: hsla(0, 0%, 30%, 1);
}

.unlock-text p,
.guideline p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: hsla(0, 0%, 44%, 1);
    margin-bottom: 1.3rem;
}

.learn-more{
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    background-color: hsla(122, 39%, 49%, 1);
    border: none;
    text-decoration: none;
    color: hsla(0, 0%, 100%, 1);
    transition: background-color 0.3s ease;
}

section.achievements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 9rem;
    background-color: hsla(210, 31%, 97%, 1);
}

div.achievements-text h2{
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3rem;
}

#h2-span{
    color: hsla(122, 39%, 49%, 1);
}

div.row-1,
div.row-2{
    display: flex;
    padding: 3rem 0;
}

div#members,
div#bookings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

div#clubs,
div#payments{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.3rem;
}

div.bookings-image,
div.members-image,
div.clubs-image,
div.payments-image{
    padding-right: 0.6rem;
}

p.numbers{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: hsla(0, 0%, 30%, 1);
}

p.label{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: hsla(0, 0%, 44%, 1);
}

section.guideline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.1rem 9rem 0 9rem;
}

.guideline-text h2{
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: hsla(0, 0%, 30%, 1);
}

section.customers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9rem;
    background-color: hsla(210, 31%, 97%, 1);
}

.customers-text :nth-child(1){
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: hsla(0, 0%, 44%, 1);
}

.customers-text :nth-child(2){
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: hsla(122, 39%, 49%, 1);
    padding-top: 1rem;
}

.customers-text :nth-child(3){
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: hsla(210, 10%, 58%, 1);
    padding: 0.3rem 0;
}

a.link{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: hsla(122, 39%, 49%, 1);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-section{
    display: flex;
    justify-content: space-between;
    padding: 0 9rem;
}

section.updates{
   margin: 6.25rem 0; 
}

section.updates h2,
p.first{
    text-align: center;
}

section.updates h2{
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: hsla(0, 0%, 30%, 1);
}

section.updates p.first{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: hsla(0, 0%, 44%, 1);
}

p.content{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.3rem;
    color: hsla(0, 0%, 44%, 1);
}

.bg-image18{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: hsla(210, 31%, 97%, 1);
    margin-top: -3.13rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a.links{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: hsla(122, 39%, 49%, 1);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-area1{
    padding-right: 1.25rem;
}

.image-area2{
    padding-right: 1.25rem;
}

section.subscribe{
    text-align: center;
    padding: 2rem 0;
    background-color: hsla(210, 31%, 97%, 1);
}

div.heading h2{
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.75rem;
    color: hsla(200, 19%, 18%, 1);
    margin-bottom: 2rem;
}

footer{
    color: white;
    padding: 3rem 10.3rem;
    display: flex;
    justify-content: space-between;
}

.footer-logo,
.copyright{
    padding-bottom: 3.125rem;
}

div.links h4,
.input h4{
    padding-bottom: 1.25rem;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links ul li{
    padding-bottom: 1rem;
}

.links ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: hsla(210, 31%, 97%, 1);

}

input[type="email"] {
    padding: 0.63rem;
    font-size: 1rem;
    border: 1px solid hsla(200, 19%, 18%, 1);
    flex: 1;
    border-radius: 0.5rem;
    opacity: 20%;
}

.sign-up:hover,
.register:hover,
.learn-more:hover{
    background-color: #45a049;
}

.login:hover{
    background-color: hsla(0, 0%, 85%, 1);
}

.membership:hover,
.nationals:hover,
.clubs:hover,
.bg-image18:hover{
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

a.link:hover{
    transform: translateX(10px);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}

.links ul li a:hover{
    text-decoration: underline;
}

img{
    max-width: 21.25rem;
    height: auto;
}

.send-button {
    background-color: transparent; 
    color: white;              
    padding: 10px 20px;        
    border: none;              
    border-radius: 5px;      
    cursor: pointer;           
    font-size: 16px;           
    transition: transform 0.3s ease;
    margin-left: -50px;
    position: relative;
}
 
.send-button:hover{
    transform: translateX(3px);
}

.mobile-nav {
    display: none;
    flex-direction: column;
    top: 50px;
    right: 0;
    background-color: hsla(210, 31%, 97%, 1);
    width: 100%;
    max-width: 1400px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}


.mobile-nav a {
    color: hsla(122, 39%, 49%, 1);
    padding: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.mobile-nav a:hover {
    background-color: #555;
}

@media (max-width: 768px) {
 *{
    margin: 0;
    padding: 0;
   }

   nav ul{
    display: none;
   }


   div.right-side{
    padding-top: 3rem;
    text-align: center;
   }

   .hero-content{
    flex-direction: column;
    text-align: center;
    padding: 20px;
   }

   .icons,
   .image-section{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
   }

   .icons::-webkit-scrollbar{
    display: none;
   }

   .icons-2{
    display: block;
   }

   .membership,
   .nationals,
   .clubs,
   .image-section img{
    min-width: 100vw;
    scroll-snap-align: center;
   }

   .image-section img{
    margin-right: 20px;
   }

   section.unlock,
   section.achievements,
   section.guideline,
   section.customers,
   section.subscribe{
    flex-direction: column;
    text-align: center;
    padding: 20px;
   }
   
   .row-1,
   .row-2{
    flex-direction: column;
   }

   section.achievements{
    margin-top: 50px;
   }

   footer{
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
   }

   .flex-container{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
   }

   .desktop-view{
    display: none;
   }

   .mobile-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   #mobile-view-right-side{
    display: block;
   }
}
